

body{
	background: linear-gradient(to right,red,blue);
}

#cal{
	margin-top: 15vw;
}

button{
	color: #fff;
	cursor: alias;
	background-color: red;
}
.button{
	width: 50px;
	height: 50px;
}

.equal{
	width: 50px;
	height: 100px;
}

.zero{
	width: 100px;
	height: 50px;
}

input{
	width: 210px;
	height: 25px;
}